name: Build, push, and deploy to GCP
on:
  push:
    branches:
      - main
    paths-ignore:
      - "doc/**"
      - "**/*.md"
jobs:
  build:
    name: Build and push Docker container
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - name: Checkout latest code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # ratchet:actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "gradle"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # ratchet:gradle/actions/setup-gradle@v5
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # ratchet:gradle/actions/dependency-submission@v5
      - name: Build with Gradle
        run: ./gradlew clean installDist
      - name: Push docker image to GAR
        uses: nais/docker-build-push@v0 # ratchet:exclude
        id: docker-build-push
        with:
          team: nais
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
  deploy-dev-gcp:
    name: Deploy to dev-gcp
    needs: build
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2 # ratchet:exclude
        env:
          CLUSTER: dev-gcp
          RESOURCE: .nais/nais.yml
          IMAGE: ${{ needs.build.outputs.image }}
